.env
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build output
/bin/
/build/
/dist/

# Go workspace file
go.work
go.work.sum

# Go module cache (jika pakai vendor)
vendor/

# Editor/IDE
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
